<html>
	<head>
		<meta charset='utf-8' />
		<title></title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.css' rel='stylesheet' />
		
		
		<style>
			body { margin:0; padding:0; }
			#map { position:absolute; top:0; bottom:50; width:100%; }
			#menu { position:absolute; bottom:0; height:50; width:100%; }
		</style>
	</head>
	<body>
		<style>
			.coordinates {
				background: rgba(0,0,0,0.5);
				color: #fff;
				position: absolute;
				bottom: 50px;
				left: 10px;
				padding:5px 10px;
				margin: 0;
				font-size: 11px;
				line-height: 18px;
				border-radius: 3px;
				display: none;
			}
		</style>

		<div id='map'></div>
		<pre id='coordinates' class='coordinates'></pre>
		<nav id='menu'>
			{% for label, command in COMMANDS.items() %}
				<button class="command command-{{ command }}" value="{{ command }}">
					{{ label }}
				</button>
			{% endfor %}
		</nav>
		<div class='overlay'></div>
		<script>
			mapboxgl.accessToken = '{{ ACCESS_KEY }}';

			var map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/satellite-v9',
				center: [-71.241844, 42.405818],
				zoom: 18
			});

			map.dragRotate.disable();
			map.touchZoomRotate.disable();

			var geojson = {
				"type": "FeatureCollection",
				"features": [{
					"type": "Feature",
					"geometry": {
						"type": "Point",
						"coordinates": [ -71.24184525907816, 42.4059]
					}
				}]
			};

			var canvas = map.getCanvasContainer();

			function onMove(e) {
				var coords = e.lngLat;
				 
				// Set a UI indicator for dragging.
				canvas.style.cursor = 'grabbing';
				 
				// Update the Point feature in `geojson` coordinates
				// and call setData to the source layer `point` on it.
				geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
				map.getSource('point').setData(geojson);
			}
				 
			function onUp(e) {
				var coords = e.lngLat;
				 
				// Print the coordinates of where the point had
				// finished being dragged to on the map.
				coordinates.style.display = 'block';
				coordinates.innerHTML = 'Longitude: ' + coords.lng + '<br />Latitude: ' + coords.lat;
				canvas.style.cursor = '';
				 
				// Unbind mouse/touch events
				map.off('mousemove', onMove);
				map.off('touchmove', onMove);
			}

			var popup = new mapboxgl.Popup({
				closeButton: false
			});

			var wp_url = 'http://127.0.0.1:5000/curr_wp';

			var url = 'http://127.0.0.1:5000/curr_loc';
			map.on('load', function () {
				window.setInterval(function() {
					map.getSource('boat').setData(url);
					map.getSource('wp').setData(wp_url);
				}, 500);

				map.addSource('boat', { type: 'geojson', data: url });
				map.addSource('wp', { type: 'geojson', data: wp_url });
				map.addSource('point', { type: "geojson", data: geojson });
				// map.addSource('boat', {
				// 	"type": "geojson",
				// 	"data": {
				// 		"type": "Feature",
				// 		"geometry": {
				// 			"type": "Point",
				// 			"coordinates": [-71.22302332165758,42.4858228839322],
				// 		},
				// 		"properties": {
				// 			"heading":Number(90),
				// 		},
				// 	}
				// });
				map.addLayer({
					"id": "boat",
					"type": "symbol",
					"source": "boat",
					"layout": {
						"icon-image": "mountain-15",
						"icon-size": 3,
						"icon-padding": 1,
						"icon-allow-overlap":true,
						"icon-anchor": "center",
						//"icon-pitch-alignment":"map",
						"icon-rotation-alignment":"map",
						//"icon-rotate": ["get", "heading"],
						"icon-rotate": {
							"type": "identity",
							"property": "heading"
						}
					},
				});

				map.addLayer({
					"id": "wp_line",
					"type": "line",
					"source": "wp",
					"paint": {
						"line-color": "yellow",
						"line-opacity": 0.75,
						"line-width": 5
					},
					"filter": ["==", "$type", "LineString"]
				});

				map.addLayer({
					"id": "wp_points",
					"type": "circle",
					"source": "wp",
					"paint": {
						"circle-radius": 6,
						"circle-color": "#B42222"
					},
					"filter": ["==", "$type", "Point"],
				});

				map.addLayer({
					"id": "point",
					"type": "circle",
					"source": "point",
					"paint": {
						"circle-radius": 10,
						"circle-color": "#3887be"
					}
				});
			// });

				// Center map to boat when it is clicked on
				map.on('click', 'boat', function (e) {
					map.flyTo({center: e.features[0].geometry.coordinates});
				});

				// Change cursor to pointer when over boat
				map.on('mouseenter', 'boat', function () {
					map.getCanvas().style.cursor = 'pointer';
				});
	 
				// Change it back when not over boat
				map.on('mouseleave', 'boat', function () {
					map.getCanvas().style.cursor = '';
				});

				// When the cursor enters a feature in the point layer, prepare for dragging.
				map.on('mouseenter', 'point', function() {
					map.setPaintProperty('point', 'circle-color', '#3bb2d0');
					canvas.style.cursor = 'move';
				});
				 
				map.on('mouseleave', 'point', function() {
					map.setPaintProperty('point', 'circle-color', '#3887be');
					canvas.style.cursor = '';
				});
				 
				map.on('mousedown', 'point', function(e) {
					// Prevent the default map drag behavior.
					e.preventDefault();
					 
					canvas.style.cursor = 'grab';
					 
					map.on('mousemove', onMove);
					map.once('mouseup', onUp);
				});
				 
				map.on('touchstart', 'point', function(e) {
					if (e.points.length !== 1) return;
					 
					// Prevent the default map drag behavior.
					e.preventDefault();
					 
					map.on('touchmove', onMove);
					map.once('touchend', onUp);
				});

			});

			addEventListener("DOMContentLoaded", function() {
				// Grab all of the elements with a class of command
				// (which all of the buttons we just created have)
				var commandButtons = document.querySelectorAll(".command");
				for (var i=0, l=commandButtons.length; i<l; i++) {
				var button = commandButtons[i];
				// For each button, listen for the "click" event
				button.addEventListener("click", function(e) {
					// When a click happens, stop the button
					// from submitting our form (if we have one)
					e.preventDefault();

					var clickedButton = e.target;
					var command = clickedButton.value;

					// Now we need to send the data to our server
					// without reloading the page - this is the domain of
					// AJAX (Asynchronous JavaScript And XML)
					// We will create a new request object
					// and set up a handler for the response
					var request = new XMLHttpRequest();
					request.onload = function() {
						// We could do more interesting things with the response
						// or, we could ignore it entirely
						//alert(request.responseText);
					};
					// We point the request at the appropriate command
					request.open("GET", "/" + command + "/", true);
					// and then we send it off
					request.send();
					});
				}
			}, true);
		</script>
	</body>
</html>